{% extends 'base/base_app.html' %}
{% load static %}


{% block title %}
    Home
{% endblock title %}


{% block css %}

  
  <style>
    .animated {
      height: 20px;
      background-color: blue;
      background: radial-gradient(circle, lemonchiffon, black 25%, skyblue);
      position: relative;
    }
  
    .animated:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: radial-gradient(circle, transparent, black 25%, transparent);
      animation: color 1.5s infinite ease-out alternate;
      opacity: 0;
    }
  
    @keyframes color {
      0% {
        background: radial-gradient(circle, transparent, black 25%, transparent);
      }
      100% {
        opacity: 1;
      }
    }
  </style>
  
{% endblock css %}
    


{% block content %}
    <div class="animated">
        <div class="animated-logo"></div>
    </div>
    <div class="container">
            
        <h2 class="card-title my-3">Bienvenidos a la pagina de Inicio</h2>
        

    </div>
    
    
{% endblock content %}
    