{% extends 'base/base_app.html' %}
{% load static %}

        
{% block title %}
    Interpretación de Datos
    
{% endblock title %}
            
    
{% block css %}
    
    <link rel="stylesheet" href="{% static 'core/css/chat.css' %}">
{% endblock css %}
        
   
    

    
{% block content %}
    <div class="container mt-3">
        <div class="col-sm-12 col-md-6 offset-3">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h1>ChatGpt</h1>
                </div>
                <div class="card-body">
                <div class="chat-log" id="chat-log">
                    <div class="bot-message alert alert-secondary" >
                        <div class="message-content ">
                            ¡Hola! Soy tu asistente para interpretar datos. ¡Pregúntame lo que necesites!
                        </div>
                    </div>
                </div>
                </div>
                <div class="card-footer d-flex">
                    <input oninput="removeDisabled()" class="input-group form-control" type="text" id="user-input" placeholder="Escribe tu mensaje...">
                    <button id="send" disabled class="btn btn-success ms-2" type="button" onclick="sendMessage()">
                        Enviar
                    </button>
                </div>
            </div>
        </div>

    </div>
    
{% endblock content %}
        

{% block js %}
    <script src="{% static 'core/js/chat.js' %}"></script>
    
{% endblock js %}
    


